.center{
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    background-color: rgb(142, 202, 255);
    padding: 30px;
    border-radius: 2%;
}