.contain{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    background-color: rgb(142, 202, 255);
    border-radius: 2px;
    padding: 20px;
}
